body{
   background-image: url(https://burst.shopifycdn.com/photos/wrtiting-tools.jpg?width=1200&format=pjpg&exif=0&iptc=0);
   background-size: cover;
}
.divdesign{
    align-content: center;
}
.center {
    padding-top: 50px;
    
    font-family:'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }

a:link,a:visited{
    background-color: green;
    color:white;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
}
a:hover,a:active{
    border-radius: 10px;
    background-color:lightgreen;
    text-decoration: solid;
}
.h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding:0%;

}
.nopadding{
    margin-right:180px;
    font-size: 18px;
}
.password{
    margin-right:190px;
    font-size: 20px;
}
.box{
    border: 10px solid transparent;
    border-radius: 10px;
    width: 250px;
    border-color: teal;
    background:white;
    margin: 10px auto 0 auto;
    padding:0px 30px 50px 30px;
}

.inputdesign{
    width: 200px;
    height: 18px;
    font-size: 14px;
    
    padding:2px 0px 0px 8px;
}
.username{
    margin-right:180px;
    font-size: 19px;
}
.padding{
    padding-top: 0px;
}